.successful_events {
  img {
    max-height: 166px;
    width: 100%;
    object-fit: cover;
  }
}

.text-style {
  font-size: 3.2rem;
  font-weight: 900;
}
.sub_text_style {
  font-size: 30px;
}
.img-style {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid yellow;
}
.font__style {
  font-size: 13px;
}

.rounded__style {
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

.rounded__style__two {
  /* border: 1px solid black; */
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

.rounded__style__three {
  /* border: 1px solid black; */
  padding: 10px 20px 10px 20px;
  border-radius: 30px;
}

footer {
  height: 220px;
  width: 100%;
}
